* {
    box-sizing: border-box;
   
}
header {
    height: 100px;
    background-color: #ff0000;
    border-bottom: 2 px solid black;
    margin-bottom: 50px;
    box-shadow: 10px 10px 5px black;
}

h2, h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 30px;
    margin-bottom: 30px;
    font-family: 'Baloo 2', cursive;
   
}

img {
    width: 250px; 
    height: 250px; 
    margin: 20px;
    border: 2px solid black;
    box-shadow: 10px 10px 5px black;
}

body {
    background-image: radial-gradient(blue, lightgray, blue);
    background-repeat: no-repeat;
    min-height: 2000px;
}
main {
    width: 100%;
}
ul {
    display: none;
    width: 475px;
    margin-left: 500px;
    background-color: gray;
    border: 2px solid black;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px black;
}

#preface {
    margin: 0 auto;
    width: 900px;
    background-color: #ffff00;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 10px 10px 5px black;
    font-family: 'Baloo 2', cursive;
    margin-bottom: 50px; 

}
#images {
    margin: 0 auto;
    width: 900px;
    background-color: #ffff00;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 10px 10px 5px black;   
}
footer {
    display: none;
    margin-top: 50px;
}
footer div {
    width: 500px;
    height: 500px;
    background-color: white;
    border: 2px solid black;
    border-radius:  15px;
    padding: 15px;
    display: inline-block;
    box-shadow: 10px 10px 5px black;
}
#bigChart {
    margin-top: 50px;
    width: 800px;
    height: 800px;
    box-shadow: 10px 10px 5px black;
}
li {
    padding: 10px;
    list-style-type: circle;
}