h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
img {
    width: 250px;  
}

body {
    background-image: radial-gradient(blue, red, blue);
}
main {
    width: 100%;
}
ul {
    display: none;
    width: 475px;
    margin: 0 auto;
    background-color: gray;
    border: 2px solid black;
    padding: 15px;
    border-radius: 15px;
}
.images {
    display: inline-block;
    margin: 0 auto;
    width: 900px;
}
article {
    display: inline-block;
}
footer div {
    width: 400px;
    height: 400px;
    background-color: white;
    border: 2px solid black;
    border-radius:  15px;
    padding: 15px;
}
#bigChart {
    width: 800px;
    height: 800px;
}


li {
    padding: 10px;
}