h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
img {
    width: 250px;
   
}

main {
    width: 1200px;
}
aside {
    display: inline-block;
    width: 375px;
}
.images {
    display: inline-block;
    margin-right: 50px;
    clear: both;
}
article {
    display: inline-block;
}
